version: "3.0"
services:
  client:
    build: .
    container_name: build-your-own-internet-client
    image: build-your-own-internet
    hostname: client
    {% if config_dir == "final" %}
    networks:
      ten-one-net:
        ipv4_address: 10.1.1.3
    {% endif %}
    cap_add:
      - NET_ADMIN
  server:
    container_name: build-your-own-internet-server
    image: build-your-own-internet
    hostname: server
    {% if config_dir == "final" %}
    networks:
      ten-one-net:
        ipv4_address: 10.1.1.2
    {% endif %}
    cap_add:
      - NET_ADMIN

{% if config_dir == "final" %}
networks:
  ten-one-net:
    name: build-your-own-internet-ten-one-net
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.1.1.0/24
{% endif %}
