---
import css from './AppHeaderBar.module.css';
---
<app-header-bar class={css.class}>
  <left-side>
    <strong>Build Your Own Internet</strong>
  </left-side>
  <right-side>
    <button>Log in / Create account</button>
  </right-side>
</app-header-bar>
